aiohttp>=3.7.0,<4.0.0 # # Apache-2.0
async-timeout==4.0.2
certifi==2023.5.7 # MPL
python-dateutil>=2.5.3  # BSD
pyyaml>=3.12  # MIT
setuptools==67.7.2  # PSF/ZPL
six>=1.9.0  # MIT
urllib3==2.0.2  # MIT
